/* SPDX-License-Identifier: Apache-2.0 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	aliases {
		sw0 = &button0;
	};

	buttons_gpio: gpio@f0000000 {
		compatible = "litex,gpio";
		reg = <0xf0000000 0x4>,
		      <0xf0000004 0x4>,
		      <0xf0000008 0x4>,
		      <0xf0000010 0x4>,
		      <0xf0000014 0x4>;
		reg-names = "in", "irq_mode", "irq_edge", "irq_pend", "irq_en";
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <1>;
		interrupt-parent = <&intc0>;
		interrupts = <@BUTTONS_IRQ@ 1>;
		status = "okay";
	};

	buttons {
		compatible = "gpio-keys";
		debounce-interval-ms = <30>;

		button0: button_0 {
			gpios = <&buttons_gpio 0 GPIO_ACTIVE_LOW>;
			label = "CYC1000 button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};
